* {
  padding: 0;
  margin: 0;
  font-family: PingFang SC;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  padding-left: 0;
  list-style-type: none;
}
.container {
    width: 1240px;
    margin: auto;
  }